html
    head
        script(src="jquery.min.js")
        style.
            #chrono {
                font-family: Arial;
                font-size: 30px;
                border: 1px black dashed;
                border-radius: 50%;
                height: 100px; width: 100px;
                position: absolute;
                line-height: 100px;
                text-align: center;
                left: 50%; top: 50%;
                transform: translate(-50%,-50%);
            }

            #elapsed {
                position: absolute;
                top: 0; right: 0;
                font-family: Arial;
                font-size: 30px;
            }
    body
        #chrono 0
        #elapsed
        script.
            var t = 0;
            var vai = 0;

            function conta() {
                $("#chrono").text(t);
                t = t + 1;
                if(vai == 1)
                    setTimeout(conta, 1000);
            }

            function chronoClick() {
                if(vai == 0) {
                    vai = 1;
                    conta();
                } else {vai = 0; $("#elapsed").text(t)}
            }

            $("#chrono").on("click",chronoClick)
        

        

